*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    margin: auto;
    width: 100vh;
    align-items: center;
}
.game_container{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* grid-template-columns: repeat(3, 1fr); */
    /* margin: auto; */
}
.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 65px;
    text-align: center;
    /* position: relative; */
}
.line{
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    position: absolute;
    transform-origin: left;
    /* height: 3px; */
}